driver=pgx
host=localhost 
port= 5432 
dbname=goperson
user= 
password=
agelink=https://api.agify.io/?name=Dmitriy
genderlink=https://api.genderize.io/?name=Dmitriy
nationalitylink =https://api.nationalize.io/?name=Dmitriy